// Button
$button-primary-bg-color: #000 !default;
$button-primary-color: #fff !default;

.button {
	@include button-base;
	text-transform: uppercase;
	letter-spacing: .5px;
	
	&.primary {
		color: $button-primary-color;
		background: $button-primary-bg-color;
		border-radius: 4px;
		padding: 15px 25px;
		transition: all .1s;
		
		&:hover {
			background: darken($button-primary-bg-color, 5%);
			color: #FFF;
			text-decoration: none;
		}
	}

	&.hollow {
		color: $button-primary-bg-color;
		background-color: transparent;
		border: 1px solid $button-primary-bg-color;
		
		&:hover {
			background-color: transparent;
			color: darken($button-primary-bg-color, 10%);
			border-color: darken($button-primary-bg-color, 10%);
		}
	}
}