.contextual-bg--grey {
	background-color: $ui-color-light;
}

.contextual-bg--secondary {
	background-color: $ui-color-secondary;
}

.contextual-bg--about {
	position: relative;
	
	&:before {
		content:"";
		background-image: url(../images/sarah-canada2.jpg);
		background-color: #ccc;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 50%;
		height: 100%;
		top: 0;
		right: 50%;
		position: absolute;
		
		@media all and (max-width: $small-bp) {
			display: none;
		}
	}
}

.contextual-bg--hero {
	background-image: url(../images/iceberg.png);
	background-repeat: no-repeat;
	background-size: 600px 600px;
    background-position: 115% 110%;
    
    @media all and (max-width: 800px) {
    	background-image: none;
    }
	
}