* {
	box-sizing: border-box;
}

// Colors

$ui-color-primary: #14B2FE;
$ui-color-secondary: #94AFBC;
$ui-color-darkest: #353535;
$ui-color-dark: #939393;
$ui-color-gray: #D3D3D3;
$ui-color-light: #F9F9F9;


// breakpoints

$small-bp: 640px;


// typography

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic|Lora:400,400italic,700,700italic);


$primary-font-family: 'Lato', sans-serif;
$secondary-font-family: 'Lora', serif;

$body-font-family: $primary-font-family;

$h1-fontsize: rem-calc(64px);
$h1-fontfamily: $primary-font-family;
$h1-lineheight: rem-calc(86px);
$h1-fontcolor: $ui-color-darkest;

$h2-fontsize: rem-calc(28px);
$h2-fontfamily: $secondary-font-family;
$h2-lineheight: rem-calc(42px);
$h2-fontcolor: $ui-color-darkest;

$h3-fontsize: rem-calc(16px);
$h3-fontfamily: $secondary-font-family;
$h3-lineheight: rem-calc(30px);
$h3-fontcolor: $ui-color-dark;

$h4-fontsize: rem-calc(20px);
$h4-fontfamily: $secondary-font-family;
$h4-lineheight: rem-calc(30px);
$h4-fontcolor: $ui-color-gray;

$h5-fontsize: rem-calc(16px);
$h5-fontfamily: $primary-font-family;
$h5-lineheight: rem-calc(26px);
$h5-fontcolor: $ui-color-darkest;

$p-fontsize: rem-calc(16px);
$p-fontfamily: $secondary-font-family;
$p-lineheight: rem-calc(30px);
$p-fontcolor: #000;

$small-fontsize: rem-calc(12px);
$small-fontfamily: $primary-font-family;
$small-lineheight: rem-calc(18px);
$small-fontcolor: $ui-color-dark;

$a-fontcolor: $ui-color-primary;

$alternative-fontcolor: $ui-color-primary;

$divider-color: $ui-color-gray;


// Buttons
$button-primary-bg-color: $ui-color-primary;
$button-primary-color: #fff;







// Foundation settings

$topbar-background: rgba(255,255,255,0.95);
$topbar-link-color: $ui-color-darkest;
$topbar-padding: 30px;