// Navigation

.top-bar {
	// position: fixed;
	// top: 0;
	// left: 0;
	// width: 100%;
	// z-index: 999;
	
	padding-left: 0;
	padding-right: 0;
	
	ul {
		background-color: transparent;
	}
	.menu > li:not(.menu-text) > a:not(.button) {
		font-size: rem-calc(14px);
		font-family: $primary-font-family;
		
		&:hover {
			text-decoration: none;
			color: $ui-color-primary;
			transition: all .1s ease-in-out;
		}
	}
}