$h1-fontsize: rem-calc(64px) !default;
$h1-fontfamily: 'sans serif' !default;
$h1-lineheight: rem-calc(86px) !default;
$h1-fontcolor: #000 !default;

$h2-fontsize: rem-calc(64px) !default;
$h2-fontfamily: 'sans serif' !default;
$h2-lineheight: rem-calc(86px) !default;
$h2-fontcolor: #000 !default;

$h3-fontsize: rem-calc(64px) !default;
$h3-fontfamily: 'sans serif' !default;
$h3-lineheight: rem-calc(86px) !default;
$h3-fontcolor: #000 !default;

$h4-fontsize: rem-calc(64px) !default;
$h4-fontfamily: 'sans serif' !default;
$h4-lineheight: rem-calc(86px) !default;
$h4-fontcolor: #000 !default;

$h5-fontsize: rem-calc(64px) !default;
$h5-fontfamily: 'sans serif' !default;
$h5-lineheight: rem-calc(86px) !default;
$h5-fontcolor: #000 !default;

$p-fontsize: rem-calc(64px) !default;
$p-fontfamily: 'sans serif' !default;
$p-lineheight: rem-calc(86px) !default;
$p-fontcolor: #000 !default;

$small-fontsize: rem-calc(64px) !default;
$small-fontfamily: 'sans serif' !default;
$small-lineheight: rem-calc(86px) !default;
$small-fontcolor: #000 !default;

$a-fontcolor: #000 !default;

$alternative-fontcolor: #000 !default;

$divider-color: #000 !default;
$body-font-family: sans serif !default;



body {
	font-family: $body-font-family;
}

h1,
.h1 {
	font-size: $h1-fontsize;
	font-family: $h1-fontfamily;
	line-height: $h1-lineheight;
	color: $h1-fontcolor;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 2px;
	
	@media all and (max-width: $small-bp) {
		font-size: $h1-fontsize * 0.7;
		line-height: $h1-lineheight * 0.7;
	}
}

h2,
.h2 {
	font-size: $h2-fontsize;
	font-family: $h2-fontfamily;
	line-height: $h2-lineheight;
	color: $h2-fontcolor;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	
	@media all and (max-width: $small-bp) {
		font-size: $h2-fontsize * 0.9;
		line-height: $h2-lineheight * 0.9;
	}
}

h3,
.h3 {
	font-size: $h3-fontsize;
	font-family: $h3-fontfamily;
	line-height: $h3-lineheight;
	color: $h3-fontcolor;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

h4,
.h4 {
	font-size: $h4-fontsize;
	font-family: $h4-fontfamily;
	line-height: $h4-lineheight;
	color: $h4-fontcolor;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

h5,
.h5 {
	font-size: $h5-fontsize;
	font-family: $h5-fontfamily;
	line-height: $h5-lineheight;
	color: $h5-fontcolor;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 8px;
}

p,
.p {
	font-size: $p-fontsize;
	font-family: $p-fontfamily;
	line-height: $p-lineheight;
	color: $p-fontcolor;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

small,
.small {
	font-size: $small-fontsize;
	font-family: $small-fontfamily;
	line-height: $small-lineheight;
	color: $small-fontcolor;
	-webkit-font-smoothing: antialiased;
}

a,
.a {
	color: $a-fontcolor;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	    
	&:hover {
		text-decoration: underline;
	}
}

.alternative {
	color: $alternative-fontcolor;
	-webkit-font-smoothing: antialiased;
}

.invert {
	color: #fff;
}

.fs-lg {
	font-size: rem-calc(20);
}


// Deviders
.divider {
	width: 100%;
	max-width: 100px;
	margin: 40px auto;
	color: $divider-color;
}